version: "3.8"

services:
  backend:
    build: ./backend
    container_name: audio-uploader-backend
    ports:
      - "5001:5001"
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: sh -c "npx prisma db push --accept-data-loss && npm start"

  frontend:
    build: ./frontend
    container_name: audio-uploader-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
